@model IEnumerable<RestaurantWebApplication.Models.Client>

@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .table {
            background-color: #fff;
        }

        .contact-section {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 220px;
            padding: 10px;
            background-color: #f8f9fa;
        }

        .contact-section h3 {
            font-size: 20px;
        }

        .contact-section p {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Home Page</h1>
        <div class="list-group mb-4">
            <a href="@Url.Action("Index", "Clients")" class="list-group-item list-group-item-action">
                Clients
                <p class="mb-0">Explore list of clients.</p>
            </a>
            <a href="@Url.Action("Index", "Types")" class="list-group-item list-group-item-action">
                Types
                <p class="mb-0">Choose a type of place to find places of that type.</p>
            </a>
            <a href="@Url.Action("Index", "Ratings")" class="list-group-item list-group-item-action">
                Ratings
                <p class="mb-0">Check and manage ratings of places.</p>
            </a>
            <a href="@Url.Action("Index", "Favourites")" class="list-group-item list-group-item-action">
                Favourites
                <p class="mb-0">Explore clients favourite places.</p>
            </a>
        </div>
    </div>
    <div class="contact-section">
        <h3>Contact Us</h3>
        <p>Address: Kyiv, Sechenova 6</p>
        <p>Email: info@ukr.net</p>
        <p>Phone: +380675432121</p>
    </div>
</body>
</html>
