@model IEnumerable<RestaurantWebApplication.Models.Type>

@{
    ViewData["Title"] = "Landing Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .table {
            background-color: #fff;
        }

        .contact-section {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 220px;
            padding: 10px;
            background-color: #f8f9fa;
        }

        .contact-section h3 {
            font-size: 20px;
        }

        .contact-section p {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>@ViewBag.TypeName Types of places</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="contact-section">
                <h3>Contact Us</h3>
                <p>Address: Kyiv, Sechenova 6</p>
                <p>Email: info@ukr.net</p>
                <p>Phone: +380675432121</p>
            </div>
        </div>
    </div>
</body>
</html>
